@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    background: #222;
}

h1 {
    font-weight: 500;
    color: #fff;
    margin-top: 80px;
}

.container {
    text-align: center;
    width: 960px;
    margin: 0 auto;
}

.wraper {
    width: 100%;
    margin-top: 30px;
}

.wrap li {
    position: relative;
    list-style: none;
    display: block;
    width: 25%;
    float: left;
}

.wrap li div {
    color: white;
    padding: 50% 0;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 0;
    cursor: pointer;
}


/* Animations */

.wrap li div.back{
    transform: rotateY(90deg);
}

.wrap div.front{
    position: absolute;
}

.wrap li:hover div.front{
    animation: flip 0.2s ease forwards;
}

.wrap li:hover div.back{
    animation: flip 0.2s ease forwards reverse;
}

@keyframes flip{
    0%{transform: rotateY(0deg)}
    100%{transform: rotateY(90deg)}
}
